<<<<<<< HEAD
.container-fluid {
  background-color: black; }
  .container-fluid .row {
    width: 1100px;
    margin: 0 auto; }
    .container-fluid .row .left .logo {
      width: 100%;
      margin: 13px; }
    .container-fluid .row .middle ul {
      display: inline-block;
      margin-top: 27px;
      padding: 0;
      font-size: 12px;
      float: right; }
      .container-fluid .row .middle ul li {
        display: inline-block;
        margin-left: 23px; }
        .container-fluid .row .middle ul li a {
          color: white;
          text-decoration: none;
          list-style: none; }
    .container-fluid .row .right {
      display: inline-block;
      float: right; }
      .container-fluid .row .right .search {
        display: inline-block;
        color: white;
        margin-top: 8px;
        font-size: 12px; }
        .container-fluid .row .right .search h3 {
          display: inline-block;
          color: white;
          font-size: 12px;
          margin-right: 9px; }
        .container-fluid .row .right .search input {
          display: inline-block;
          width: 155px; }

.featured {
  border-left: 1px solid white;
  padding: 0px 25px; }

main .container-fluid.bigImage {
  background-color: white; }
  main .container-fluid.bigImage img.mainImage {
    background-size: cover; }

main .container.main {
  width: 990px; }
  main .container.main .brandCollections ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    display: inline-block; }
    main .container.main .brandCollections ul li {
      display: inline-block;
      width: 228px;
      margin-left: 57px;
      margin-bottom: -14px;
      margin-top: 80px; }
      main .container.main .brandCollections ul li img {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        background-position: center; }

.container.list {
  width: 990px; }
  .container.list .row {
    margin: 0 auto; }
    .container.list .row .col-2-md {
      display: inline-block; }
      .container.list .row .col-2-md .stock {
        display: inline-block;
        margin: 41px; }
        .container.list .row .col-2-md .stock img {
          max-height: 185px;
          margin-top: 40px; }
        .container.list .row .col-2-md .stock h5 {
          font-size: 12px;
          text-align: center; }
        .container.list .row .col-2-md .stock button {
          background-color: black;
          color: white;
          padding: 8px;
          font-size: 8px;
          border: none;
          margin: 0 auto; }

.container.product {
  width: 990px; }
  .container.product .featuredItem h3 {
    float: left; }
  .container.product .featuredItem img {
    width: 10%; }

.footer {
  text-align: center;
  font-family: helvetica, serif;
  font-size: 14px;
  margin-top: 80px;
  color: grey; }
=======
.row {
  background-color: black; }
  .row nav {
    width: 990px;
    margin: 0 auto; }
    .row nav img {
      color: black;
      max-width: 240px;
      margin: 10px; }
    .row nav ul {
      display: inline-block;
      margin-top: 20px;
      padding: 0;
      padding-left: 70px;
      font-size: 12px;
      margin-left: 114px; }
      .row nav ul li {
        display: inline-block;
        margin-left: 40px; }
        .row nav ul li a {
          color: white; }
    .row nav .search {
      display: inline-block;
      color: white;
      margin-top: 5px;
      margin-left: 56px;
      float: right;
      font-size: 12px; }
      .row nav .search h3 {
        display: inline-block;
        color: white;
        font-size: 12px; }
        .row nav .search h3 input {
          margin-left: 5px; }

body {
  background-color: white; }

.container .row.main {
  background-color: white; }

footer .row.main-two {
  background-color: white; }
  footer .row.main-two .right h4 {
    font-size: 10px;
    text-align: center;
    color: grey;
    margin-top: 400px; }

h2.cat {
  font-size: 14.5px;
  color: grey; }
  h2.cat ul.brand-logos {
    list-style: none; }
    h2.cat ul.brand-logos li {
      list-style: none; }
      h2.cat ul.brand-logos li .logo {
        width: 120px; }
>>>>>>> df77c2b21678447bb78c115a29c3bbef62b089e7
