.container-fluid {
  background-color: black; }
  .container-fluid .row .left .logo {
    width: 100%;
    margin: 13px; }
  .container-fluid .row .middle ul {
    display: inline-block;
    margin-top: 27px;
    padding: 0;
    font-size: 12px;
    float: right; }
    .container-fluid .row .middle ul li {
      display: inline-block;
      margin-left: 23px; }
      .container-fluid .row .middle ul li a {
        color: white;
        text-decoration: none;
        list-style: none; }
  .container-fluid .row .right {
    display: inline-block;
    float: right; }
    .container-fluid .row .right .search {
      display: inline-block;
      color: white;
      margin-top: 8px;
      font-size: 12px; }
      .container-fluid .row .right .search h3 {
        display: inline-block;
        color: white;
        font-size: 12px;
        margin-right: 9px; }
      .container-fluid .row .right .search input {
        display: inline-block;
        width: 155px; }

.featured {
  border-left: 1px solid white;
  padding: 0px 25px; }

main .container-fluid.bigImage {
  background-color: white; }
  main .container-fluid.bigImage img.mainImage {
    width: 100%; }

main .container.main {
  width: 990px; }
  main .container.main .brandCollections ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    display: inline-block; }
    main .container.main .brandCollections ul li {
      display: inline-block;
      width: 228px;
      margin-left: 57px;
      margin-bottom: -14px;
      margin-top: 80px; }
      main .container.main .brandCollections ul li img {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        background-position: center; }

.container.list {
  width: 990px; }
  .container.list .row {
    margin: 0 auto; }
    .container.list .row .col-2-md {
      display: inline-block;
      text-align: center; }
      .container.list .row .col-2-md .stock {
        display: inline-block;
        margin: 41px; }
        .container.list .row .col-2-md .stock img {
          max-height: 185px;
          margin-top: 40px; }
        .container.list .row .col-2-md .stock h5 {
          font-size: 12px;
          text-align: center; }
        .container.list .row .col-2-md .stock button {
          background-color: black;
          color: white;
          padding: 8px;
          font-size: 8px;
          border: none;
          margin: 0 auto; }

.container.product {
  width: 990px;
  margin-top: 35px; }
  .container.product h3 {
    font-size: 18px; }
  .container.product .product {
    height: 255px; }
  .container.product p {
    margin-top: 156px; }

.footer {
  text-align: center;
  font-family: helvetica, serif;
  font-size: 12px;
  margin-top: -15px;
  color: white;
  text-shadow: .5px .5px 2px #000; }
