<div class="container main">
     <div class="row">
          <div class="brandCollections">
               <ul class="brand-logos">
                    <li><img class="logo" src="/images/logo_sexyHair.jpg" alt=""></li>
                    <li><img class="logo" src="/images/logo_bumble.png" alt=""></li>
                    <li><img class="logo" src="/images/logo_johnFrieda.jpg" alt=""></li>
                    <li><img class="logo" src="/images/logo_paulMitchell.png" alt=""></li>
                    <li><img class="logo" src="/images/logo_sebastian.png" alt=""></li>
                    <li><img class="logo" src="/images/logo_tigi.jpg" alt=""></li>
               </ul>
          </div>
     </div>
</div>

