<div class="container product">
     <div class="row">
          <div class="col-md-3">
               <div class="featuredItem">
                    <h3>Victorias Secret Hold Please Volume Shine Hair by Victoria's Secret:</h3>
                    <a ui-sref="featured">Hold Please! Hairspray Collection</a>
               </div>
          </div>
          <div class="col-md-2">
               <img class="product" src="/images/product_holdPlease.png" alt="Hold Please!">
          </div>
          <div class="col-md-7">
               <div class="itemDescription">
                    <p>Don't expect this product to give you fabulous hold or incredible shine. If you are looking for a spray that adds volume and helps you get a tousled/ loose waves look this spray is for you. There is no "crunchiness" to this hairspray but if you overdue it your hair can look greasy. Love, love, love the smell of this spray! It smells like a light smelling cotton candy, divine! I would buy again mainly for the smell of this.</p>
               </div>
          </div>
     </div>
</div>
</div>
