<div class="container list">
     <div class="row">
          <div class="col-2-md">
               <div class="stock">
                    <img src="/images/product_bigsexy.png" alt="">
                    <h5>Sexy Hair</h5>
                    <button type="submit">BUY NOW</button>
               </div>
          </div>
          <div class="col-2-md">
               <div class="stock">
                    <img src="/images/product_bumble.png" alt="">
                    <h5>B&B</h5>
                    <button type="submit">BUY NOW</button>
               </div>
          </div>
          <div class="col-2-md">
               <div class="stock">
                    <img src="/images/product_frieda.png" alt="">
                    <h5>John Frieda</h5>
                    <button type="submit">BUY NOW</button>
               </div>
          </div>
          <div class="col-2-md">
               <div class="stock">
                    <img src="/images/product_holdPlease.png" alt="">
                    <h5>Victoria's Secret</h5>
                    <button type="submit">BUY NOW</button>
               </div>
          </div>
          <div class="col-2-md">
               <div class="stock">
                    <img src="/images/product_sebastian.png" alt="">
                    <h5>Sebastian</h5>
                    <button type="submit">BUY NOW</button>
               </div>
          </div>
          <div class="col-2-md">
               <div class="stock">
                    <img src="/images/tigi.png" alt="">
                    <h5>Tigi</h5>
                    <button type="submit">BUY NOW</button>
               </div>
          </div>
     </div>
</div>
