     //MAIN HOME VIEW NAVIGATION
     .container-fluid {
          background-color: black;
          .row {
               .left {
                    .logo {
                         width: 100%;
                         margin: 13px;
                    }
               }
               .middle {
                    ul {
                         display: inline-block;
                         margin-top: 27px;
                         padding: 0;
                         font-size: 12px;
                         float: right;
                         li {
                              display: inline-block;
                              margin-left: 23px;
                              a {
                                   color: white;
                                   text-decoration: none;
                                   list-style: none;
                              }
                         }
                    }
               }
               .right {
                    display: inline-block;
                    float: right;
                    .search {
                         display: inline-block;
                         color: white;
                         margin-top: 8px;
                         font-size: 12px;
                         h3 {
                              display: inline-block;
                              color: white;
                              font-size: 12px;
                              margin-right: 9px;
                         }
                         input {
                              display: inline-block;
                              width: 155px;
                         }
                    }
               }
          }
     }
     
     .featured {
          border-left: 1px solid white;
          padding: 0px 25px;
     }
     
     //PARTIAL for HOME
     main {
          .container-fluid.bigImage {
               background-color: white;
               img.mainImage {
                    width: 100%;
               }
          }
     }
     
     //PARTIAL for BRAND COLLECTIONS
     main {
          .container.main {
               width: 990px;
               .brandCollections {
                    ul {
                         margin-top: 0;
                         margin-bottom: 10px;
                         list-style: none;
                         display: inline-block;
                         li {
                              display: inline-block;
                              width: 228px;
                              margin-left: 57px;
                              margin-bottom: -14px;
                              margin-top: 80px;
                              img {
                                   display: inline-block;
                                   width: 100%;
                                   margin: 0 auto;
                                   background-position: center;
                              }
                         }
                    }
               }
          }
     }
     
     //PARTIAL for ITEM LIST 
     .container.list {
          width: 990px;
          .row {
               margin: 0 auto;
               .col-2-md {
                    display: inline-block;
                    text-align: center;
                    .stock {
                         display: inline-block;
                         margin: 41px;
                         img {
                              max-height: 185px;
                              margin-top: 40px;
                         }
                         h5 {
                              font-size: 12px;
                              text-align: center;
                         }
                         button {
                              background-color: black;
                              color: white;
                              padding: 8px;
                              font-size: 8px;
                              border: none;
                              margin: 0 auto;
                         }
                    }
               }
          }
     }
     
     //PARTIAL for FEATURED 
     .container.product {
          width: 990px;
          margin-top: 35px;
          h3 {
               font-size: 18px;
          }
          .product {
               height: 255px;
          }
          p {
               margin-top: 156px;
          }
     }
     
     //FOOTER
     .footer {
          text-align: center;
          font-family: helvetica, serif;
          font-size: 12px;
          margin-top: -15px;
          color: white;
          text-shadow: .5px .5px 2px #000;
     }
